body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

#container {
  background-color: aliceblue;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid aliceblue;  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#container div {
  width: 100px;
  height: 75px;
  /* flex-basis: 200px; ??????? */
}