@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: PT serif;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💥</text></svg>") 16 0,auto;

}

nav, 
nav * {
  display: flex;
  align-items: center;
  /* font-weight: bolder; */
  /* justify-content: space-between; */
}

nav {
  height: 50px;
  width: 100%;
  font-size: larger;
  background-color: black;
  color: white;
  display: flex;
}

#logo {
  height: 100%;
  width: 300px;
  background-color: green;
  align-items: center;
  justify-content: center;
}

#nav-links {
  height: 100%;
  width: 400px;
  /* padding: 200px; */
  margin-inline: 200px;
  /* align-items: flex-end; */
  /* justify-content: space-evenly; */
  /* work here */
}

#profile {
  height: 100%;
  width: 200px;
  /* margin-right: 200px; */
  text-align: end;
  justify-content: flex-end;
  

}

a {
  width: 400px;
  height: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
  margin: 0;
  border: 0;
}

a:hover {
  background-color: green;
  color: white;

}

main {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}